@charset "EUC-KR";

/* 리스트  아이템  css */
.*{
	outline: none;
}

a{
	text-decoration: inherit;
    color: inherit;
	cursor: pointer;
}

strong {
	display: inline-block;
    font-size: 15px;
    color: #2a3470;
    font-weight: normal;
    margin: 0 0 5px 0;
    font-weight: 500;
}

em, i  {
	font-style: normal;	
}
.em_item1{
	font-size: 14px;
}
.em_item2{
	font-size: 12px;
}

.tr_items m1{
	margin-bottom: -5px;
}

.li_cate{
	display: inline-block;
	font-size: 16px;
	
	border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;	
}

.txt_tag, .month.tag{
	outline:inherit; 
	font-size:16px;
	font-family:inherit;
  	width: 100px;
  	height: 100px;
}

.ul_cate .li_cate .a_cate:hover, .ul_cate .li_cate .a_cate:focus  {
	color:#ffffff;
	border:1px solid #808080;
	background-color:#808080;
}

.span_circle m1{ /* 거래일짜  테두리  동그랗게  이쁘게 */
	padding: 0;
    border-color: #445cd4;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #445cd4;
}

.span_circle m2{ /* 매매가격  테두리  동그랗게  이쁘게 */
	padding: 0;
    border-color: #FF9999;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #FF9999;
}

.span_circle{
	display: inline-block;
    min-width: 33px;
    padding: 0 5px;
    border: 1px solid;
    border-radius: 12px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.lists__item{
	display: inline-block;
	border: 0px solid;
    border-radius: 20px;
    margin-bottom: 5px
}

span{
	font-size: 11pt;
	
}


/* 더보기  구현 & 리스트  css  */
.js-load {
    display: none;
}
.js-load.active {
    display: block;
}
.is_comp.js-load:after {
    display: none;
}
.btn-wrap, .lists, .main {
    display: block;
}
.main {
    max-width: 640px;
    margin: 0 auto;
}
.lists {
    margin-bottom: 4rem;
}
.lists__item {
    padding: 20px;
    background: #EEE;
}
.lists__item:nth-child(2n) {
    background: #d5cecf;
    color: #000000;
}
.btn-wrap {
    text-align: center;
}